.profile-sotr {
    background-color: #E0FFFF;
    padding-left: 120px;  
}

p {
    color: black;
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}
